<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<h1>{{ i.title }}</h1>
<p>{{ i.description }}</p>
<h2>Ингредиенты:</h2>
<ul>
    {% if ingredients %}
        <ul>
            {% for ingredient in ingredients %}
                <li>{{ ingredient.name }} — {{ ingredient.quantity }}</li>
            {% endfor %}
        </ul>
    {% else %}
        <p>Нет ингредиентов.</p>
    {% endif %}
</ul>
{% if recipe.pk %}
    <a href="{% url 'add_ingredient' recipe.pk %}">Добавить ингредиент</a>
{% else %}
    <p>Ошибка: отсутствует ID рецепта.</p>
{% endif %}
<a href="{% url 'recipe_list' %}">Назад</a>

</body>
</html>